# Version control
.git
.gitignore

# IDE and Editor files
.idea/
.vscode/
*.swp
*.bak

# Python artifacts
__pycache__/
*.pyc
*.pyo # Python optimized bytecode files
.Python # macOS specific Python environment files
venv/
*.egg-info/ # Python package metadata directories
.pytest_cache/ # pytest cache directory

# Build and distribution files
dist/
build/

# Log and environment files
*.log
.env

# Local data and cache directories (specific to your project)
local_data/
ollama_data/
redis_data/
sentence_transformer_cache/


docker-compose.yml 
*.DS_Store # macOS specific
Dockerfile 

# Frontend/UI files (assuming this Docker image is for the backend only)
/uiux.html
/rough file
/package.json
/frontend/

chroma_db/
.cache

